<div class="container">
  <form ng-submit="login(username, password)">
    <div class="form-group">
      <label>Nazwa użytkownika</label>
      <input class="form-control" type="text" ng-model="username"> </div>
    <div class="form-group">
      <label>Hasło</label>
      <input class="form-control" type="password" ng-model="password"> </div>
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Zaloguj"> </form>
</div>
